.create_product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_product .item_form {
  margin-top: 10px;
}

.create_product .item_form label {
  width: 60px;
}

.create_product .item_form input {
  width: 200px;
  border-radius: 5px;
}

.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
}

.message_container span {
  background-color: darksalmon;
  padding: 2%;
  border-radius: 20px;
  border: 1px solid black;
}

