.index_list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    width: 95vh;
    margin: 0 auto;
}

.index_list ul {
    list-style: none !important;
}

.index_list li a {
    color: black;
    text-decoration: none !important;
    font-size: 3rem;
}

._navbar {
    position: fixed;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    top: 0;
}

._navbar .container-fluid {
    justify-content: center !important;
}

._navbar .navbar-nav {
    width: 100%;
}

._navbar .img_logo img {
    width: 70px;
}

._navbar li {
    padding-left: 5%;
}

._navbar li a {
    padding-left: 5%;
    font-weight: bold;
}

._navbar .navbar-collapse {
    justify-content: center !important;
}

.main {
    margin-top: 10%;
}

.main .col {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    margin: 3%;
    text-decoration: dashed;
}

.title h2 {
    font-style: italic;
}

._btn {
    margin-top: 30px;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: indianred;
    color: white;
    font-weight: bold;
  }